extends layout

block content
    .jumbotron.text-center
        h1 Book a Consultation today!
        a.btn.btn-primary(href= "/user/consultations/booking") Make a Booking
    each consultation, i in consultations
        .panel
            .panel-body#forum-card
                p #{consultation._id}
                p #{consultation.counsellor.username}
                p #{consultation.date}
                p #{consultation.time}
                p #{consultation.isOnline}