extends layout

block content

    .container 
        h1#forum-title My Schedhuled Consultations
        if user
            each consultation, i in consultations
                .card
                    .card-body
                        p #[strong Student]: #{consultation.student}
                        p #[strong Date]: #{moment(consultation.date).format("LL")}
                        p #[strong Time]: #{moment(consultation.time, ["HH.mm"]).format("hh:mm a")}
                        p #[strong Venue]: #{consultation.venue}

                        a.btn.btn-link.delete-consultation(type= 'button', consultation-id=consultation._id) cancel consultation

                        br
                        br
                        