extends layout

block content

    .container 
        h1#forum-title My Consultations
        if user
            each consultation, i in consultations
                .card
                    .card-body
                        p #{consultation._id}
                        p #[strong Counsellor]: #{consultation.counsellor}
                        p #[strong Date]: #{consultation.date}
                        p #[strong Time]: #{consultation.time}
                        p #[strong Venue]: #{consultation.venue}

                        a.btn.btn-link.delete-consultation(type= 'button', consultation-id=consultation._id) cancel
                        a.btn.btn-link.manage-consultation(href='/consultations/manage/'+consultation._id) edit

                        br
                        br
                        