extends layout

block content
    .jumbotron.text-center

    .container 
        h1#forum-title My Consultations
        if user
            each consultation, i in consultations
                .card
                    .card-body
                        p #{consultation._id}
                        p Counsellor: #{consultation.counsellor}
                        p Date: #{consultation.date}
                        p Time: #{consultation.time}
                        p Venue: #{consultation.venue}
        
