extends layout

block content
    br
    br

    .container.jumbotronCompleted.text-center
        h1 Requested Consultations
    .container    
        if user
            .row
                each consultation, i in consultations
                    .column
                        .card
                            .containerCard#manageConsultationCardWhite
                                p #[strong Student]: #{consultation.student}
                                p #[strong Date]: #{moment(consultation.date).format("LL")}
                                p #[strong Time]: #{moment(consultation.time, ["HH.mm"]).format("hh:mm a")}
                                p #[strong Venue]: #{consultation.venue}

                                a.btn.btn-link1.accept-request(type= 'button', consultation-id=consultation._id) Accept

                                br
                                br
                        