extends layout

block content
    h5 posted by #{author} at 'date time'
    h1= forum.title
    br
    p= forum.body
    if user
        if user._id == forum.author
            a.btn.btn-default.btn-sm(href='/forum-posts/edit/'+forum._id) Edit
            a.btn.btn-danger.btn-sm.delete-forum(href='#', data-id=forum._id) Delete
    hr
    .container
        h3 Comments
        each c in forum.comments
            .panel
                .panel-default
                    .panel-heading
                        h3.panel-title 
                            i.far.fa-clock date time
                    .panel-body #{c.content}
                    .panel-footer
                        a(href = '/user/profile/'+forum.author)
                            i.glyphicon.glyphicon-user #{author}
                        
    script(src='https://kit.fontawesome.com/d7fc33007f.js', crossorigin='anonymous')

    form(method='POST', action='/comments/'+forum._id)
        .form-group
            label Title:
            input.form-control(name='title', type='text')
        .form-group
            label Content
            input.form-control(name='content')

        input.btn.btn-primary(type='submit', value='Post')

