extends layout

block content
    h1= forum.title
    br
    p= forum.body
    a.btn.btn-default(href='/forum-posts/edit/'+forum._id) Edit
    a.btn.btn-danger.delete-forum(href='#', data-id=forum._id) Delete
    hr
    h3 Comments
    .container
        each c in forum.comments
            .container
            p.
                #[strong #{c.title}] #[br]
                    #{c.content} line 2

