extends layout

block content
    .container
        h5 Posted by 
            a(href = '/user/profile/'+forum.author) #{forum.author} 
        h5 at #{forum.date.toDateString()} #{forum.date.toLocaleTimeString()}
        h1= forum.title
        br
        p= forum.body
        if user
            if user.username == forum.author
                a.btn.btn-default.btn-sm(href='/forum-posts/edit/'+forum._id) Edit
                a.btn.btn-danger.btn-sm.delete-forum(href='#', data-id=forum._id) Delete
        hr
        .container
            h3 Comments
            each c in forum.comments
                .panel
                    .panel-default
                        .panel-heading
                            h3.panel-title
                                i.far.fa-clock #{' ' + c.date.toDateString()}  #{c.date.toLocaleTimeString()}
                        .panel-body #{c.content}
                        .panel-footer

                            a(href = '/user/profile/'+c.author)
                                i.glyphicon.glyphicon-user #{' ' + c.author}


                            
        script(src='https://kit.fontawesome.com/d7fc33007f.js', crossorigin='anonymous')
        
        if user
            form(method='POST', action='/comments/'+forum._id)
                .form-group
                    label Comment as #{user.username}:
                    input.form-control(name='content')

                input.btn.btn-primary(type='submit', value='Post')

